@charset "utf-8";
/* CSS Document */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body, td, th, p {
    font-size: 1em;
    color: #333;
    line-height: 1.5;
}

body {
    background-color: #f3f3f3;
    margin: 0;
    position:relative;
    font-family: 'Raleway', sans-serif;
}

ul, 
li {
    font-size: 1em;
    color: #333;
}

a {
    color: rgb(255, 165, 0);
    text-decoration: none;
}

a:hover, 
a:focus {
    color: #3397db;
    text-decoration: none;
}

a img{
	  border: none 0px #fff;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0 0 10px;
    padding: 15px 0px 5px;
}

article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	  display: block;
}

header, main, footer {
    width: 100%;
}

#maincontent {
    background-color: #f3f3f3;
    min-height: 100%;
}

#footer {
    background-color: rgb(44, 44, 44);
    color: #aaa;
    font-size: 0.8em;
    letter-spacing: 1px;
    padding: 25px;
    text-align: center;
    text-transform: uppercase;
    position: fixed;
    bottom: 0;
}

/* ====================== Navigation ====================== */
nav {
    width: 100%;
    padding: 15px 0px;
    background-color: #252831;
    text-align:center;
}

nav h1 {
    margin: auto;
}

nav h1 a {
    color: #fff;
    font-size: 1em;
    font-weight: 200;
    letter-spacing: 3px;
    text-transform: uppercase;
}

#breadcrumb {
    list-style: none;
    background-color: #eee;
    font-size: 17px;
    margin: 0;
    width: 50%;
    padding: 5px 0 5px 20px;
}

/* Display list items side by side */
#breadcrumb li {
    display: inline;
}

/* Add a slash symbol (/) before/behind each list item */
#breadcrumb li+li:before {
    padding: 8px;
    color: black;
    content: "/\00a0";
}

/* Add a color to all links inside the list */
#breadcrumb li a {
    color: #0275d8;
    text-decoration: none;
}

/* Add a color on mouse-over */
#breadcrumb li a:hover {
    color: #01447e;
    text-decoration: underline;
}

/* ====================== Map ====================== */
#map {
    height: 400px;
    background-color: #ccc;
}

/* ====================== Restaurant Filtering ====================== */
.filter-options {
    background-color: #3397DB;
    min-height: 50px;
    display: grid;
    grid-template-areas:  
        "results neighbor cuisins";
    grid-template-columns: 1fr repeat(2, 2fr);
    padding: 10px 0 0;
    align-items: center;
}

.filter-options h2 {
    color: white;
    font-size: 1rem;
    font-weight: normal;
    line-height: 1;
    padding-right: 20px;
    justify-self: end;
}

.filter-options select {
    background-color: white;
    border: 1px solid #fff;
    font-family: Arial,sans-serif;
    font-size: 1em;
    height: 35px;
    letter-spacing: 0;
    padding: 0 10px;
    width: 200px;
    margin-bottom: 10px;
}

/* ====================== Restaurant Listing ====================== */
#restaurants-list {
    box-sizing: border-box;  
    background-color: #f3f3f3;
    display: grid;
    padding: 30px;
    margin: 0 0 65px 0;
    text-align: center;
    justify-items: center;
    list-style: outside none none;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 30px;
    position: relative;
}

#restaurants-list li {
    background-color: #fff;
    font-family: Arial,sans-serif;
    text-align: left;
    box-shadow: 0px 2px 3px 0 rgba(50, 50, 50, 0.6);
    position: relative;
}
  
#restaurants-list .restaurant-img {
    background-color: #ccc;
    display: block;
    margin: 0;
    max-width: 100%;
    min-height: 248px;
}
  
#restaurants-list li .summary {
    padding: 0px 15px 10px;
}

#restaurants-list li .summary p:last-of-type {
    padding: 0 0 45px;
}


#restaurants-list li .summary a {
    position: absolute;
    bottom: 10px;
}
  
#restaurants-list li h1 {
    color: #f18200;
    font-weight: 400;
    text-transform: uppercase;
}
  
#restaurants-list p {
    margin: 0;
    font-size: 1em;
}
  
#restaurants-list li a {
    background-color: rgb(255, 145, 0);
    border-bottom: 3px solid #eee;
    color: #fff;
    display: inline-block;
    font-size: 0.9em;
    margin: 15px 0 0;
    padding: 8px 30px 10px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
}

/* ====================== Restaurant Details ====================== */
/* If is used class name inside, that means that that element is from review section */
.inside header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}

.inside #map-container {
    background: blue none repeat scroll 0 0;
    height: 87%;
    position: fixed;
    right: 0;
    top: 80px;
    width: 50%;
}

.inside #map {
    background-color: #ccc;
    height: 100%;
    width: 100%;
}

#restaurant-name {
    color: #a25800;
    font-size: 1.4em;
    font-weight: 200;
    letter-spacing: 0;
    margin: 15px 0 10px;
    text-transform: uppercase;
    line-height: 1.1;
}

#restaurant-img {
	  width: 100%;
}

#restaurant-address {
    font-size: 1.1em;
    margin: 10px 0px;
}

#restaurant-cuisine {
    background-color: #333;
    color: #ddd;
    font-size: 1.1em;
    font-weight: 300;
    letter-spacing: 10px;
    margin: 0 0 20px;
    padding: 2px 0;
    text-align: center;
    text-transform: uppercase;
    width: 100%;
}

#restaurant-container {
    padding: 100px 20px 20px;
}

/* ====================== Restaurant Reviews Details ====================== */
#restaurant-container, 
#reviews-container {
    border-bottom: 1px solid #d9d9d9;
    border-top: 1px solid #fff;
    width: 50%;
}

#reviews-container {
    padding: 20px 20px 55px;
}

#reviews-container h2 {
    color: rgb(255, 157, 0);
    font-size: 2em;
    font-weight: 300;
    letter-spacing: -1px;
    padding: 0;
}

#reviews-list li {
    display: grid;
    grid-template:  
      "author date"
      "rating ."
      "text text";
    grid-template-columns: 50% 50%;
    background-color: #fff;
    border: 2px solid #f3f3f3;
    border-radius: 40px 0 40px 0;
    list-style-type: none;
    margin: 0 0 30px;
    overflow: hidden;
    position: relative;
    width: 100%;
}

#reviews-list li p {
    margin: 0 0 10px;
}

#reviews-list li p:first-of-type {
    grid-area: author;
    background: #333;
    color: rgb(255, 255, 255);
    padding: 20px;
    font-size: 20px;
}

#reviews-list li p:nth-child(2){
    padding: 23px 10px; 
    text-align: right;
    grid-area: date;
    background: #333;
    color: rgb(255, 255, 255);
}

#reviews-list li p:nth-child(3){
    grid-area: rating;
    width: 115px;
    background-color: rgb(255, 157, 0);
    text-transform: uppercase;
    text-align: center;
    border-radius: 5px;
    padding: 10px;
    margin: 15px 0 0 20px;
}

#reviews-list li p:nth-child(4){
    grid-area: text;
    padding: 20px;
}

#restaurant-hours td {
    color: #666;
}

.restaurant-reviews #footer {
    grid-area: footer;
    background-color: #444;
    color: #aaa;
    font-size: 0.8em;
    letter-spacing: 1px;
    padding: 25px;
    text-align: center;
    text-transform: uppercase;
    position: fixed;
    bottom: 0;
}

.restaurant-reviews #maincontent  {
    padding-top: 85px;
    display: grid;
    grid-template-areas:  
        "restaurant map"
        "review map";
    position: relative;
    grid-template-columns: 1fr 1fr;
}

.restaurant-reviews header {
    grid-area: header;
    width: 100%;
    z-index: 1000;
}

/* Main contrainer */
.restaurant-reviews #map-container {
    position: fixed;
    right: 0;
    /* height: 95%; */
    bottom: 64px;
    top: 80px;
    width: 50%;
}

.restaurant-reviews #map {
    height: 100%;
    width: 100%;
}

.restaurant-reviews #restaurant-container {
    grid-area: restaurant;
}

.restaurant-reviews #reviews-container {
    grid-area: review;
}
